* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 700px;
    margin: auto;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    width: 50px;
    height: 20px;
}

#flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#display {
    /* border: 1px solid black; */
    width: 15%;
    margin: auto;
}

span {
    /* border: 1px solid red; */
    margin: 0;
    display: block;

}

.addend {
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
}

fieldset{
border: none;
}





/* span {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
} */